.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include res(600) {
    grid-template-columns: 100%;
    gap: 3rem;
  }

  &__logo {
    font-family: $font-title;
    font-size: 5rem;
    font-weight: 400;
    color: $color-primary;
    line-height: 1.2;

    align-self: center;
    justify-self: center;
  }

  &__addresses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 1rem;
    color: $color-primary-light;

    @include res(400) {
      grid-template-columns: 1fr;
    }
  }
  &__address {
    padding: 1rem 0;

    display: flex;
    align-items: center;

    @include res(400) {
      margin-left: 3rem;
    }

    &__icon {
      margin: 1rem;
    }
  }

  &__copyright {
    margin-top: 2rem;
    padding: 2rem;
    border-top: 1px solid rgba($color-primary-dark, 0.1);
    grid-column: 1 / -1;
    color: $color-primary-light;
    text-align: center;
    line-height: 1.5;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #bbb;
    transition: all 0.2s;
  }

  &__link:hover {
    color: $color-primary-dark;
  }
}
