.gallery {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 1.5rem;

  &__photo {
    opacity: 0.7;
    &--1 {
      grid-area: 1 / 1 / span 4 / span 2;
    }
    &--2 {
      grid-area: 1 / 3 / span 2 / span 2;
    }
    &--3 {
      grid-area: 1 / 5 / span 2 / span 2;
    }
    &--4 {
      grid-area: 1 / 7 / span 4 / span 2;
    }
    &--5 {
      grid-area: 3 / 3 / span 2 / span 4;
    }

    @include res(900) {
      &--1 {
        display: none;
      }
      &--2 {
        grid-area: 1 / 1 / span 2 / span 4;
      }
      &--3 {
        grid-area: 1 / 5 / span 2 / span 4;
      }
      &--4 {
        display: none;
      }
      &--5 {
        grid-area: 3 / 1 / span 2 / span 8;
      }
    }

    @include res(700) {
      &--1 {
        display: none;
      }
      &--2 {
        grid-area: 1 / 1 / span 2 / span 5;
      }
      &--3 {
        grid-area: 1 / 6 / span 2 / span 5;
      }
      &--4 {
        display: none;
      }
      &--5 {
        grid-area: 3 / 1 / -1 / -1;
      }
    }
  }

  &__text {
    grid-area: 1 / -4 / -1 / span 3;
    align-self: center;
    z-index: 3;
    background-color: $color-primary;
    padding: 4rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    color: $color-dark;
    font-size: 3rem;
    font-weight: 700;

    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 2rem;

    @include res(900) {
      grid-area: 1 / -5 / -1 / span 4;
    }

    @include res(700) {
      grid-template-rows: 4fr;
      font-size: 2.5rem;
      grid-area: 2 / 3 / -2 / -3;
    }

    @include res(600) {
    }

    @include res(400) {
      font-size: 2rem;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: $color-dark;
    color: $color-primary;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 700;
    border: 3px solid $color-dark;
    transition: all 0.1s;

    @include res(700) {
      display: none;
    }

    &:hover {
      color: $color-dark;
      background-color: $color-primary;
      transform: translateY(-2px);
      box-shadow: 0 1.5rem 1rem rgba($color-dark, 0.1);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.1);
    }

    &:focus {
      outline: none;
    }
  }
}
