.header {
  position: relative;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;

  &__background {
    position: static !important;
    opacity: 0.4;
    img {
      object-position: center 75% !important;
    }

    @include res(600) {
    }
  }

  &__title {
    grid-area: 1 / 1 / -1 / -1;

    text-align: center;
    position: relative;
    display: block;

    font-family: $font-title;
    font-weight: 400;
    color: $color-primary;
    line-height: 1.2;

    &--ristorante {
      display: block;
      font-size: 5rem;

      @include res(600) {
        font-size: 4rem;
      }
      @include res(400) {
        font-size: 3rem;
      }
    }
    &--vesuvio {
      display: block;
      font-size: 8rem;

      @include res(600) {
        font-size: 7rem;
      }
      @include res(400) {
        font-size: 5rem;
      }
    }
  }

  &__expand-icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
    fill: $color-primary;
    height: 5rem;
    width: 5rem;

    transform: translateY(-1rem);
    animation: arrowUpDown 1.5s infinite ease-in-out;

    @include res(700) {
      display: none;
    }
  }
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(-0.75rem);
  }

  50% {
    transform: translateY(0.75rem);
  }

  100% {
    transform: translateY(-0.75rem);
  }
}
