$color-primary: #cc9933;
$color-primary-dark: #b88a2e;
$color-primary-light: #d1a347;

// $color-primary-light: lighten($color-primary, 15%);
// $color-primary-dark: darken($color-primary, 15%);
// $color-primary-lighter: lighten($color-primary, 30%);
// $color-primary-darker: darken($color-primary, 30%);

$color-dark: #121212;
$color-light: #ededed;

$font-primary: Montserrat, sans-serif;
$font-title: "Rock Salt", sans-serif;

$gap: 3rem;
$section-height: calc(100vh - (2 * #{$gap}));
