.index {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows:
    repeat(2, $section-height)
    /*minmax($section-height, max-content) min-content*/;
  row-gap: $grid-section-row-gap;
}
